/* app.component.css */

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #ae00ff;
  color: white;
  padding: 10px 20px;
}

.btn-primary {
  background-color: #ae00ff;
  border-color: #ae00ff;
}

.btn-primary:hover {
  background-color: #ae00ff;
  border-color: #ae00ff;
}

.form-group label {
  font-weight: bold;
}

.form-control {
  border-radius: 4px;
}

.input-group-text {
  border-radius: 0 4px 4px 0;
  background-color: white;
  border-color: #ccc;
}

.img-fluid {
  /* max-width: %; */
  height: auto;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media (max-width: 992px) {
  .card-body {
    padding: 20px;
  }
}
